<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/stylesheet.css')}}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="text-center">
<div class="container">
    <form class="form-signin" action="/login" method="post">
        <h2>SimFlario</h2>
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        {% with messages = get_flashed_messages(category_filter=["login"]) %}
        <!-- declare a variable called messages -->
            {% if messages %}                            <!-- check if there are any messages -->
                {% for message in messages %}            <!-- loop through the messages -->
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>                <!-- display each message in a paragraph tag -->
                {% endfor %}
            {% endif %}
        {% endwith %}
        <label for="inputEmail" class="sr-only">Email address</label>
        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required
               autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p>New to SimFlario? <a href="/register">Register Here</a></p>
        <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>
</div>
</body>
</html>