<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dojos</title>
</head>
<body>
    <table>
        <thead>
            <tr><td><h1>New Dojo</h1></td><td><h1>All Dojos</h1></td></tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <form action="dojos/new" method="post">
                        <label for="dojo">Name: </label>
                        <input id="dojo", name="dojo">
                        <button>Create</button>
                    </form>
                </td>
                <td>
                    {% for dojo in dojos:%}
                    <p><a href="/dojos/{{dojo.id}}">{{dojo.name}}</a></p>
                    {% endfor %}

                    <a href="/ninjas">Add Ninja</a>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>