<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Read (One)</title>
</head>
<body>
<h1>User {{user.id}}</h1>
<a href="/users">Home</a>
<table>
    <tbody>
        <tr><td>Full Name: {{user.first_name}} {{user.last_name}}</td></tr>
        <tr><td>Email: {{user.email}}</td></tr>
        <tr><td>Created On: {{user.created_at.strftime("%B %d, %Y")}}</td></tr>
        <tr><td>Last Updated On: {{user.updated_at.strftime("%B %d, %Y at %I:%M %p")}}</td></tr>
    </tbody>
</table>
<a href="/users/{{user.id}}/edit">Edit</a> | <a href="/users/{{user.id}}/delete">Delete</a>
</body>
</html>